# PlatformIO
.pio/

# Visual Studio Code
.vscode/
*.code-workspace

# Mac OS
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Arduino IDE
*.tmp
*.bak
*.orig

# Logs
*.log

# Build artefacts
*.elf
*.hex
*.bin
